.main {
  padding: 20px; }

.wrapper_data {
  position: relative; }

.country_value {
  width: 300px;
  height: 30px;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-indent: 15px; }

.country_list_item {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: color 0.5s ease-out; }
  .country_list_item:hover {
    color: #57b7df; }

.add_btn {
  height: 30px;
  outline: none;
  cursor: pointer;
  background-color: #57b7df;
  color: white;
  font-weight: 600;
  padding: 0 10px;
  border: none;
  opacity: 1;
  transition: background-color 0.5s ease-out; }
  .add_btn:hover {
    background-color: #81cbea; }

.delete_btn {
  background-color: transparent;
  border: 1px solid #57b7df;
  margin-left: 5px;
  color: #57b7df;
  cursor: pointer;
  outline: none; }
