.autocomplete_list {
  margin: 0;
  padding: 0;
  width: 300px;
  position: absolute;
  top: 30px;
  left: 0;
  box-sizing: border-box;
  background-color: white; }

.autocomplete_item {
  list-style: none;
  text-align: left;
  width: 100%; }
  .autocomplete_item:hover {
    background-color: aliceblue; }
