.wrapper_nearest_forecast {
  display: flex;
  flex-wrap: wrap; }

.nearest_forecast {
  padding: 10px;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
  cursor: pointer; }
  .nearest_forecast:hover {
    background-color: aliceblue; }

.nearest_forecast_title {
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 10px 0; }

.nearest_forecast_about {
  display: flex;
  align-items: flex-start; }

.nearest_forecast_image {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid;
  background-color: white; }

.nearest_forecast_description {
  max-width: 150px;
  padding-left: 10px; }
